
#map
	iframe 
		pointer-events: none
		+media-breakpoint-down(sm)
			height: 300px
		&.active
			pointer-events: all
.contact-map
	// +bor-rad(5px)
	overflow: hidden
	border: 1px solid darken($white,10%)
.contact-page
	padding: 50px 0
	+media-breakpoint-down(md)
		padding: 30px 0px
	.contact-info
		background: darken($white,3%)
		padding: 30px
		margin-bottom: 30px
		+media-breakpoint-down(xs)
			margin-bottom: 15px
			padding: 15px
		.company
			font-weight: 600
			color: $blue
			+fs(18rem)
			margin-bottom: 20px
			line-height: 1.3
			text-transform: uppercase
			+media-breakpoint-down(md)
				+fs(15rem)
			+media-breakpoint-down(xs)
				+fs(14rem)
				line-height: 1.5
				margin-bottom: 10px
		ul 
			li 
				+pos(rel,null)
				padding-left: 25px
				+fs(14rem)
				line-height: 1.8
				margin-bottom: 10px
				+media-breakpoint-down(xs)
					+fs(13rem)
				&:last-child
					margin-bottom: 0
				.fa 
					color: $orange
					+pos(abs, 4px null null 0)
					width: 20px
					// +fs(18rem)
					text-align: center
				a 
					color: $main
					font-weight: 600
					&:hover
						color: $orange
				strong
					font-weight: 600
				.viewmap
					color: $red
					+fs(14rem)
					&:hover
						text-decoration: underline
					&:before
						content: '\f278'
						font-family: 'fontawesome'
						margin-right: 5px

.contact-form
	margin-bottom: 30px
	.module-title
		margin-bottom: 10px
		+fs(14rem)
		line-height: 1.5
	.form-wrap
		margin: 0px -10px
	.form-group
		padding: 0px 10px
		margin-bottom: 15px
		float: left
		width: 100%
		&.col2
			width: 50%
			float: left
			+media-breakpoint-down(md)
				width: 100%
		label
			display: none
		label.fileinput
			display: block
			margin-bottom: 10px
			// text-transform: uppercase
			+fs(14rem)
			color: $black
			font-style: italic
			span 
				text-transform: none
		input, textarea, select
			width: 100%
			border: 1px solid darken($white,10%)
			padding: 10px 15px
			// +bor-rad(3px)
		select
			padding: 9px 10px
			color: darken($white,40%)
			option
		input[type="file"]
			padding: 5px
			margin-bottom: 15px
			width: 50%
			+media-breakpoint-down(md)
				width: 100%
		.des
			+fs(14rem)
			color: darken($white,60%)
			font-style: italic
	.captcha
		padding: 0 10px
		margin-bottom: 15px
		clear: both
		width: 100%
	.frm-btn
		clear: both
		padding: 0px 10px
		+media-breakpoint-down(xs)
			width: 100%
	input[type="submit"]
		background: $blue
		line-height: 36px
		// +bor-rad(3px)
		+fs(14rem)
		color: $white
		text-transform: uppercase
		padding: 0 25px
		font-weight: 500
		border: none
		+media-breakpoint-down(xs)
			width: 100%
		&:hover
			background: lighten($blue,10%)

.map-popup
	padding: 10px
	.modal-dialog
		+pos(rel,null)
	.close
		width: 30px
		height: 30px
		line-height: 24px
		opacity: 1
		+bor-rad(50%)
		background: $red
		color: $white
		+pos(abs,-15px -15px null null)
		span 
			display: block
			height: 24px
			line-height: 1
			margin-top: -5px