.product-col
	figure
		+pos(rel,null)
		.product-promotion
			&.sale
				width: 40px
				height: 40px
				+bor-rad(50px)
				background: linear-gradient(to right,$red,$amber)
				color: $white
				+fs(12rem)
				line-height: 40px
				font-weight: 700
				text-align: center
				+pos(abs, 0 null null 0)
				&:before
					content: ''
					display: block
					+pos(abs,2px null 2px 2px)
					right: 2px
					+bor-rad(50px)
					border: 1px solid $white
			&.tragop
				background: $yellow
				color: $main
				+fs(11rem)
				font-weight: 600
				text-transform: uppercase
				line-height: 20px
				padding: 0px 5px
				+pos(abs, 200px 0 null null)
				strong
					+fs(12rem)
		.product-img
			+flexbox
			align-items: center
			align-content: center
			justify-content: center
			height: 200px
			img
				max-width: 100%
				max-height: 100%
		figcaption
			.product-name
				+fs(13rem)
				text-transform: uppercase
				font-weight: 700
				color: $main
			.product-id
				+fs(13rem)
				text-transform: uppercase
				color: darken($white,40%)
				margin-bottom: 10px
			.product-price
				.old
					+fs(13rem)
					line-height: 13px
					min-height: 13px
					font-weight: 300
					color: darken($white,40%)
					text-decoration: line-through
				.new
					+fs(18rem)
					font-weight: 800
					color: $red
			.product-des
				+fs(12rem)
				color: darken($white,40%)