section.banner-wrap
	.banner.home-banner
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.banner-caption Đột phá ý tưởng, khẳng định chất lượng
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.banner-caption Đột phá ý tưởng, khẳng định chất lượng
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.banner-caption Đột phá ý tưởng, khẳng định chất lượng