section.breadcrumb-wrap
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Góc tư vấn
section.news-page
	.container
		.tab-wrap
			ul.page-tab
				li
					a(href="#!") Kinh nghiệm - mẹo vặt
				li
					a(href="#!") Bảo quản sản phẩm
				li.active
					a(href="#!") Tin tức - sự kiện
				li
					a(href="#!") Tư vấn - đánh giá
		.news-list
			.row
				article.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name Lorem Ipsum đã được sử dụng như một văn bản
								.news-des Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm
				article.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name Lorem Ipsum đã được sử dụng như một văn bản
								.news-des Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm
				article.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name Lorem Ipsum đã được sử dụng như một văn bản
								.news-des Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm
				article.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name Lorem Ipsum đã được sử dụng như một văn bản
								.news-des Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm
				article.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name Lorem Ipsum đã được sử dụng như một văn bản
								.news-des Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm
				article.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name Lorem Ipsum đã được sử dụng như một văn bản
								.news-des Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4