section.breadcrumb-wrap
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Khuyến mãi
section.promotion-page
	.container
		.promotion-list
			.row
				.col-12.col-lg-4
					a.promotion-col(href="#!")
						figure
							.promotion-img
								img(src="img/product/promotion.jpg", alt="")
							figcaption
								h3.promotion-name Lorem ipsum dolor sit amet.
				.col-12.col-lg-4
					a.promotion-col(href="#!")
						figure
							.promotion-img
								img(src="img/product/promotion.jpg", alt="")
							figcaption
								h3.promotion-name Lorem ipsum dolor sit amet.
				.col-12.col-lg-4
					a.promotion-col(href="#!")
						figure
							.promotion-img
								img(src="img/product/promotion.jpg", alt="")
							figcaption
								h3.promotion-name Lorem ipsum dolor sit amet.
				.col-12.col-lg-4
					a.promotion-col(href="#!")
						figure
							.promotion-img
								img(src="img/product/promotion.jpg", alt="")
							figcaption
								h3.promotion-name Lorem ipsum dolor sit amet.
				.col-12.col-lg-4
					a.promotion-col(href="#!")
						figure
							.promotion-img
								img(src="img/product/promotion.jpg", alt="")
							figcaption
								h3.promotion-name Lorem ipsum dolor sit amet.
				.col-12.col-lg-4
					a.promotion-col(href="#!")
						figure
							.promotion-img
								img(src="img/product/promotion.jpg", alt="")
							figcaption
								h3.promotion-name Lorem ipsum dolor sit amet.