.container
	.row.product-row
		.col-left
			section.product-sidebar
				.product-cate
					.icon
						img(src="img/product/ic1.png", alt="")
					.name thiết bị vệ sinh
					.des Bọ lọc danh mục sản phẩm
			section.product-filter
				nav.filter-category
					ul.filter-link
						li
							a(href="#!") Chậu rửa
						li.has-sub.active
							a(href="#!") Chậu rửa
							.sub-cate
								ul
									li
										a(href="#!") Chậu rửa chân đứng  
									li
										a(href="#!") Chậu rửa lửng  
									li
										a(href="#!") Chậu rửa đặt trên bàn
									li
										a(href="#!") Chậu rửa bán âm
									li
										a(href="#!") Chậu rửa âm toàn phần
									li
										a(href="#!") Chậu rửa dương vành
						li
							a(href="#!") Chậu rửa
						li
							a(href="#!") Chậu rửa
						li
							a(href="#!") Chậu rửa
				.filter-brand
					.filter-title Danh sách thương hiệu
					ul.brand-list
						li
							a(href="#!") Kohler
						li
							a(href="#!") Karat
						li
							a(href="#!") Eir
						li
							a(href="#!") Lorem Ipsum
		.col-main
			section.product-page
				.product-breadcrumb
					ol.breadcrumb
						li
							a(href="#!")
								span Trang chủ
						li
							a(href="#!")
								span Bồn rửa
				h2.pagename
				.product-detail
					.row
						.col-12.col-lg-5
							.product-slide-wrap
								.product-slide
									.item
										a.img(href="img/product/p1.png" data-fancybox="")
											img(src="img/product/p1.png", alt="")
									.item
										a.img(href="img/product/p1.png" data-fancybox="")
											img(src="img/product/p1.png", alt="")
									.item
										a.img(href="img/product/p1.png" data-fancybox="")
											img(src="img/product/p1.png", alt="")
									.item
										a.img(href="img/product/p1.png" data-fancybox="")
											img(src="img/product/p1.png", alt="")
								.product-nav
									.item
										.img
											img(src="img/product/p1.png", alt="")
									.item
										.img
											img(src="img/product/p1.png", alt="")
									.item
										.img
											img(src="img/product/p1.png", alt="")
									.item
										.img
											img(src="img/product/p1.png", alt="")
						.col-12.col-lg-7
							.product-info
								.product-name-wrap
									h1.product-name Bồn rửa chân đứng
									.product-rating
										select#bar-rating
											option(value='1') 1
											option(value='2') 2
											option(value='3') 3
											option(value='4') 4
											option(value='5') 5
										label 2 người đánh giá
								.product-price
									label Giá:
									.new 3.542.000 đ
									.old 7.084.000 đ
								.product-download
									label Tài liệu:
									a.btn-download(href="#!") Hướng dẫn lắp đặt (pdf)
								.product-order
									.number
										label Số lượng: 
										input(type="number", name="" value="1")
									a.btn-buy(href="#!") Đặt mua
									a.btn-tragop(href="#!") Trả góp
								.product-gift
									label Tặng vòi chậu rửa
									.gift-list
										a.gift(href="#!")
											img(src="img/product/p1.png", alt="")
				.product-description
					#responsivetabs
						ul.tabs-list
							li.tab-item
								a(href='#tab-1') Thông tin sản phẩm
							li.tab-item
								a(href='#tab-2') Đặc điểm kỹ thuật
							li.tab-item
								a(href='#tab-3') Hướng dẫn lắp đặt
						section#tab-1.tab-content
						section#tab-2.tab-content
						section#tab-3.tab-content

